In [91]:
import pandas as pd
import numpy as np

In [92]:
rs17599586 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs17599586.csv")
rs2295644 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs2295644.csv")
rs10483801 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs10483801.csv")
rs2182008 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs2182008.csv")
rs9319428 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs9319428.csv")
rs3751395 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs3751395.csv")
rs2387634 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs2387634.csv")
rs10494225 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs10494225.csv")
rs7977109 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs7977109.csv")
rs816361 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs816361.csv")
rs7309163 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs7309163.csv")
rs5006884 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs5006884.csv")
rs8002446 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs8002446.csv")
rs826729 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs826729.csv")
rs765587 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs765587.csv")
rs9693712 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs9693712.csv")
rs172652 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs172652.csv")
rs380620 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs380620.csv")
rs2693430 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs2693430.csv")
rs12155519 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs12155519.csv")

rs28384513 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs28384513.csv", sep =",")
rs9402686 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs9402686.csv")
rs9399137 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs9399137.csv")
rs4895441 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs4895441.csv")
rs7581162 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs7581162.csv")
rs10189857 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs10189857.csv")
rs1427407 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs1427407.csv")
rs7599488 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs7599488.csv")
rs766432 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs766432.csv")
rs11886868 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs11886868.csv")
rs4671393 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs4671393.csv")
rs7557939 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs7557939.csv")
rs10184550 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs10184550.csv")
rs10128556 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs10128556.csv")
rs2310991 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs2310991.csv")
rs61743453 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs61743453.csv")

rs334 = pd.read_csv("1000genomesprojectphase3-PopulationGenotypes-Homo_sapiens_Variation_Population_rs334.csv")

In [93]:
snp = ["rs17599586",
"rs2295644",
"rs10483801",
"rs2182008",
"rs9319428",
"rs3751395",
"rs2387634",
"rs10494225",
"rs7977109",
"rs816361",
"rs7309163",
"rs5006884",
"rs8002446",
"rs826729",
"rs765587",
"rs9693712",
"rs172652",
"rs380620",
"rs2693430",
"rs12155519",
'rs28384513',
'rs9402686',
'rs9399137',
'rs4895441',
'rs7581162',
'rs10189857',
'rs1427407',
'rs7599488',
'rs766432',
'rs11886868',
'rs4671393',
'rs7557939',
'rs10184550',
'rs10128556',
'rs2310991',
'rs61743453', 
      "rs334"]

In [94]:
len(snp)

37

In [95]:
rs17599586["snp"] = "rs17599586" 
rs2295644["snp"] = "rs2295644"
rs10483801["snp"] = "rs10483801"
rs2182008["snp"] = "rs2182008"
rs9319428["snp"] = "rs9319428"
rs3751395["snp"] = "rs3751395"
rs2387634["snp"] = "rs2387634"
rs10494225["snp"] = "rs10494225"
rs7977109["snp"] = "rs7977109"
rs816361["snp"] = "rs816361"
rs7309163["snp"] = "rs7309163"
rs5006884["snp"] = "rs5006884"
rs8002446["snp"] = "rs8002446"
rs826729["snp"] = "rs826729"
rs765587["snp"] = "rs765587"
rs9693712["snp"] = "rs9693712"
rs172652["snp"] = "rs172652"
rs380620["snp"] = "rs380620"
rs2693430["snp"] = "rs2693430"
rs12155519["snp"] = "rs12155519"



rs28384513["snp"] = "rs28384513"
rs9402686["snp"] = "rs9402686"
rs9399137["snp"] = "rs9399137"
rs4895441["snp"] = "rs4895441"
rs7581162["snp"] = "rs7581162"
rs10189857["snp"] = "rs10189857"
rs1427407["snp"] = "rs1427407"
rs7599488["snp"] = "rs7599488"
rs766432["snp"] = "rs766432"
rs11886868["snp"] = "rs11886868"
rs4671393["snp"] = "rs4671393"
rs7557939["snp"] = "rs7557939"
rs10184550["snp"] = "rs10184550"
rs10128556["snp"] = "rs10128556"
rs2310991["snp"] = "rs2310991"
rs61743453["snp"] = "rs61743453"

rs334["snp"] = "rs334"

In [96]:
df_all = pd.concat((rs17599586,
rs2295644,
rs10483801,
rs2182008,
rs9319428,
rs3751395,
rs2387634,
rs10494225,
rs7977109,
rs816361,
rs7309163,
rs5006884,
rs8002446,
rs826729,
rs765587,
rs9693712,
rs172652,
rs380620,
rs2693430,
rs12155519, 
rs28384513, 
rs9402686, 
rs9399137,
rs4895441, 
rs7581162, 
rs10189857, 
rs1427407,
rs7599488,
rs766432,
rs11886868, 
rs4671393, 
rs7557939, 
rs10184550, 
rs10128556,
rs2310991, 
rs61743453, 
rs334), axis = 0)

In [97]:
new_cols = df_all["Population"].str.split(";", expand = True)

# In[40]:

new_cols

# In[41]:

df_all = pd.concat((df_all, new_cols), axis = 1)

In [98]:
df_all

,Population,Unnamed: 1,Allele: frequency (count),Genotype: frequency (count),Genotypes,snp,0,1
0,ALL;1000GENOMES:phase_3:ALL,NaN,C: 0.913 (4574) T: 0.087 (434),C|C: 0.837 (2095) C|T: 0.153 (384) T|T: 0.010 ...,NaN,rs17599586,ALL,1000GENOMES:phase_3:ALL
1,AFR;1000GENOMES:phase_3:AFR,NaN,C: 0.883 (1167) T: 0.117 (155),C|C: 0.781 (516) C|T: 0.204 (135) T|T: 0.015 (...,NaN,rs17599586,AFR,1000GENOMES:phase_3:AFR
2,ACB;1000GENOMES:phase_3:ACB,NaN,C: 0.891 (171) T: 0.109 (21),C|C: 0.781 (75) C|T: 0.219 (21),NaN,rs17599586,ACB,1000GENOMES:phase_3:ACB
3,ASW;1000GENOMES:phase_3:ASW,NaN,C: 0.893 (109) T: 0.107 (13),C|C: 0.787 (48) C|T: 0.213 (13),NaN,rs17599586,ASW,1000GENOMES:phase_3:ASW
4,ESN;1000GENOMES:phase_3:ESN,NaN,C: 0.879 (174) T: 0.121 (24),C|C: 0.778 (77) C|T: 0.202 (20) T|T: 0.020 (2),NaN,rs17599586,ESN,1000GENOMES:phase_3:ESN
...,...,...,...,...,...,...,...,...
27,BEB;1000GENOMES:phase_3:BEB,NaN,T: 1.000 (172),T|T: 1.000 (86),NaN,rs334,BEB,1000GENOMES:phase_3:BEB
28,GIH;1000GENOMES:phase_3:GIH,NaN,T: 1.000 (206),T|T: 1.000 (103),NaN,rs334,GIH,1000GENOMES:phase_3:GIH
29,ITU;1000GENOMES:phase_3:ITU,NaN,T: 1.000 (204),T|T: 1.000 (102),NaN,rs334,ITU,1000GENOMES:phase_3:ITU
30,PJL;1000GENOMES:phase_3:PJL,NaN,T: 1.000 (192),T|T: 1.000 (96),NaN,rs334,PJL,1000GENOMES:phase_3:PJL
31,STU;1000GENOMES:phase_3:STU,NaN,T: 1.000 (204),T|T: 1.000 (102),NaN,rs334,STU,1000GENOMES:phase_3:STU

In [99]:

df_all = df_all.drop(["Population", 1, "Unnamed: 1",
"Genotypes"], axis = 1 )



genotype = df_all["Genotype: frequency (count)"].str.split(" ", expand= True)


cols_geno = {0:"homocygoto_1", 1:"frecuencia_g_1",
2:"ndeind_g_1",
3:"homocygoto_2", 4:"frecuencia_g_2",
5:"ndeind_g_2",
6:"heterocygoto", 7:"frecuencia_g_3",
8:"ndeind_g_3", 9:"?"}


genotype = genotype.rename(columns = cols_geno)

In [100]:
genotype

,homocygoto_1,frecuencia_g_1,ndeind_g_1,homocygoto_2,frecuencia_g_2,ndeind_g_2,heterocygoto,frecuencia_g_3,ndeind_g_3,?
0,C|C:,0.837,(2095),C|T:,0.153,(384),T|T:,0.010,(25),
1,C|C:,0.781,(516),C|T:,0.204,(135),T|T:,0.015,(10),
2,C|C:,0.781,(75),C|T:,0.219,(21),,None,None,None
3,C|C:,0.787,(48),C|T:,0.213,(13),,None,None,None
4,C|C:,0.778,(77),C|T:,0.202,(20),T|T:,0.020,(2),
...,...,...,...,...,...,...,...,...,...,...
27,T|T:,1.000,(86),,None,None,None,None,None,None
28,T|T:,1.000,(103),,None,None,None,None,None,None
29,T|T:,1.000,(102),,None,None,None,None,None,None
30,T|T:,1.000,(96),,None,None,None,None,None,None
31,T|T:,1.000,(102),,None,None,None,None,None,None

In [101]:

allele_frec = df_all["Allele: frequency (count)"].str.split(" ", expand= True)


cols_allele = {0:"alelo_1", 1:"frecuencia_a_1", 2:"ndeind_a_1",
3:"alelo_2", 4:"frecuencia_a_2", 5:"ndeind_a_2",
6:"?"}

In [102]:
allele_frec = allele_frec.rename(columns = cols_allele)

In [103]:
allele_frec

   alelo_1 frecuencia_a_1 ndeind_a_1 alelo_2 frecuencia_a_2 ndeind_a_2     ?
0       C:          0.913     (4574)      T:          0.087      (434)
1       C:          0.883     (1167)      T:          0.117      (155)
2       C:          0.891      (171)      T:          0.109       (21)
3       C:          0.893      (109)      T:          0.107       (13)
4       C:          0.879      (174)      T:          0.121       (24)
..     ...            ...        ...     ...            ...        ...   ...
27      T:          1.000      (172)                   None       None  None
28      T:          1.000      (206)                   None       None  None
29      T:          1.000      (204)                   None       None  None
30      T:          1.000      (192)                   None       None  None
31      T:          1.000      (204)                   None       None  None

[1184 rows x 7 columns]

In [104]:
# In[52]:

df_all= pd.concat((df_all, genotype, allele_frec),
axis=1)

# In[53]:

df_all = df_all.drop(["Allele: frequency (count)",
"Genotype: frequency (count)"], axis = 1)

In [105]:
df_all = df_all.rename(columns = {0:'Population'})

# In[56]:

df_all = df_all.drop(["?"], axis = 1 )

In [106]:
#borrar :
df_all["homocygoto_1"] = df_all["homocygoto_1"].str.replace(':', '')
df_all["homocygoto_2"] = df_all["homocygoto_2"].str.replace(':', '')
df_all["heterocygoto"] = df_all["heterocygoto"].str.replace(':', '')
df_all["alelo_1"] = df_all["alelo_1"].str.replace(':','')
df_all["alelo_2"] = df_all["alelo_2"].str.replace(':', '')

# In[58]:

#borrar ()
df_all["ndeind_g_1"] = df_all["ndeind_g_1"].str.replace('(', '')
df_all["ndeind_g_1"] = df_all["ndeind_g_1"].str.replace(')', '')
df_all["ndeind_g_2"] = df_all["ndeind_g_2"].str.replace('(', '')
df_all["ndeind_g_2"] = df_all["ndeind_g_2"].str.replace(')', '')
df_all["ndeind_g_3"] = df_all["ndeind_g_3"].str.replace('(', '')
df_all["ndeind_g_3"] = df_all["ndeind_g_3"].str.replace(')', '')

df_all["ndeind_a_1"] = df_all["ndeind_a_1"].str.replace('(', '')
df_all["ndeind_a_1"] = df_all["ndeind_a_1"].str.replace(')', '')
df_all["ndeind_a_2"] = df_all["ndeind_a_2"].str.replace('(', '')
df_all["ndeind_a_2"] = df_all["ndeind_a_2"].str.replace(')', '')

In [107]:
df_all

,snp,Population,homocygoto_1,frecuencia_g_1,ndeind_g_1,homocygoto_2,frecuencia_g_2,ndeind_g_2,heterocygoto,frecuencia_g_3,ndeind_g_3,alelo_1,frecuencia_a_1,ndeind_a_1,alelo_2,frecuencia_a_2,ndeind_a_2
0,rs17599586,ALL,C|C,0.837,2095,C|T,0.153,384,T|T,0.010,25,C,0.913,4574,T,0.087,434
1,rs17599586,AFR,C|C,0.781,516,C|T,0.204,135,T|T,0.015,10,C,0.883,1167,T,0.117,155
2,rs17599586,ACB,C|C,0.781,75,C|T,0.219,21,,None,None,C,0.891,171,T,0.109,21
3,rs17599586,ASW,C|C,0.787,48,C|T,0.213,13,,None,None,C,0.893,109,T,0.107,13
4,rs17599586,ESN,C|C,0.778,77,C|T,0.202,20,T|T,0.020,2,C,0.879,174,T,0.121,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,rs334,BEB,T|T,1.000,86,,None,None,None,None,None,T,1.000,172,,None,None
28,rs334,GIH,T|T,1.000,103,,None,None,None,None,None,T,1.000,206,,None,None
29,rs334,ITU,T|T,1.000,102,,None,None,None,None,None,T,1.000,204,,None,None
30,rs334,PJL,T|T,1.000,96,,None,None,None,None,None,T,1.000,192,,None,None
31,rs334,STU,T|T,1.000,102,,None,None,None,None,None,T,1.000,204,,None,None

In [108]:
#lista poblaciones principales
pop = ["ALL", "AFR", "AMR", "EAS", "EUR", "SAS"]


#nuevo dataframe seleccionando solo la informacion de las poblaciones enlistadas en pop
#df_all = df_all.loc[df.Population=="ALL"]
df_afr = df_all.loc[df_all.Population=="AFR"]
df_amr = df_all.loc[df_all.Population=="AMR"]
df_eas = df_all.loc[df_all.Population=="EAS"]
df_eur = df_all.loc[df_all.Population=="EUR"]
df_sas = df_all.loc[df_all.Population=="SAS"]
df_pop = pd.concat((df_afr, df_amr, df_eas, df_eur, df_sas))

In [109]:
df_pop = df_pop.fillna(0)

In [110]:
df_pop.dtypes

snp               object
Population        object
homocygoto_1      object
frecuencia_g_1    object
ndeind_g_1        object
homocygoto_2      object
frecuencia_g_2    object
ndeind_g_2        object
heterocygoto      object
frecuencia_g_3    object
ndeind_g_3        object
alelo_1           object
frecuencia_a_1    object
ndeind_a_1        object
alelo_2           object
frecuencia_a_2    object
ndeind_a_2        object
dtype: object

In [111]:
df_pop["ndeind_g_1"] = df_pop["ndeind_g_1"].apply(float)
df_pop["ndeind_a_1"] = df_pop["ndeind_a_1"].apply(float)

In [112]:
## hacer una nueva columna con los snp y cambiar manualmente el efecto fisiologico
df_pop['descripcion'] = df_pop["snp"]

In [113]:
df_pop['descripcion'].replace('rs17599586', 'HbF change, %',inplace=True)
df_pop['descripcion'].replace('rs2295644', 'HbF change, %',inplace=True)
df_pop['descripcion'].replace('rs10483801', 'HbF and HbF response to hydroxyurea',inplace=True)
df_pop['descripcion'].replace('rs2182008', 'HbF and HbF response to hydroxyurea',inplace=True)
df_pop['descripcion'].replace('rs9319428', 'HbF and HbF response to hydroxyurea',inplace=True)
df_pop['descripcion'].replace('rs3751395', 'HbF and HbF response to hydroxyurea',inplace=True)
df_pop['descripcion'].replace('rs2387634', 'HbF and HbF response to hydroxyurea',inplace=True)
df_pop['descripcion'].replace('rs10494225', 'HbF and HbF response to hydroxyurea',inplace=True)
df_pop['descripcion'].replace('rs7977109', 'HbF and HbF response to hydroxyurea',inplace=True)
df_pop['descripcion'].replace('rs816361', 'HbF and HbF response to hydroxyurea',inplace=True)
df_pop['descripcion'].replace('rs7309163', 'HbF and HbF response to hydroxyurea',inplace=True)
df_pop['descripcion'].replace('rs5006884', 'Regulation of HbA2 level',inplace=True)
df_pop['descripcion'].replace('rs8002446', 'HbF and HbF response to hydroxyurea',inplace=True)
df_pop['descripcion'].replace('rs826729', 'HbF and HbF response to hydroxyurea',inplace=True)
df_pop['descripcion'].replace('rs765587', 'HbF and HbF response to hydroxyurea',inplace=True)
df_pop['descripcion'].replace('rs9693712', 'HbF and HbF response to hydroxyurea',inplace=True)
df_pop['descripcion'].replace('rs172652', 'HbF and HbF response to hydroxyurea',inplace=True)
df_pop['descripcion'].replace('rs380620', 'HbF and HbF response to hydroxyurea',inplace=True)
df_pop['descripcion'].replace('rs2693430', 'HbF and HbF response to hydroxyurea',inplace=True)
df_pop['descripcion'].replace('rs12155519', 'HbF and HbF response to hydroxyurea',inplace=True)


df_pop['descripcion'].replace('rs28384513', 'Basal Levels of HBF',inplace=True)
df_pop['descripcion'].replace('rs9402686', 'Basal Levels of HBF',inplace=True)
df_pop['descripcion'].replace('rs9399137', 'Basal Levels of HBF',inplace=True)
df_pop['descripcion'].replace('rs4895441', 'Basal Levels of HBF',inplace=True)
df_pop['descripcion'].replace('rs7581162', 'Basal Levels of HBF',inplace=True)
df_pop['descripcion'].replace('rs10189857', 'Basal Levels of HBF',inplace=True)
df_pop['descripcion'].replace('rs1427407', 'Basal Levels of HBF',inplace=True)
df_pop['descripcion'].replace('rs7599488', 'Basal Levels of HBF',inplace=True)
df_pop['descripcion'].replace('rs766432', 'Basal Levels of HBF',inplace=True)
df_pop['descripcion'].replace('rs11886868', 'Basal Levels of HBF',inplace=True)
df_pop['descripcion'].replace('rs4671393', 'Basal Levels of HBF',inplace=True)
df_pop['descripcion'].replace('rs7557939', 'Basal Levels of HBF',inplace=True)
df_pop['descripcion'].replace('rs10184550', 'Basal Levels of HBF',inplace=True)
df_pop['descripcion'].replace('rs10128556', 'Basal Levels of HBF',inplace=True)
df_pop['descripcion'].replace('rs2310991', 'HBF levels in response to Hydroxyurea treatment',inplace=True)
df_pop['descripcion'].replace('rs61743453', 'HBF levels in response to Hydroxyurea treatment',inplace=True)
df_pop['descripcion'].replace('rs334', 'sickle cell anemia',inplace=True)

In [114]:

import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.express as px

import scipy.stats as ss
from numpy import random

In [115]:
 hwcols = {'snp':'snp', 'Population':'Population',
'homocygoto_1':'pp', 'frecuencia_g_1':'frecuencia_pp',
'ndeind_g_1':'ndeind_pp',
'homocygoto_2':'qq', 'frecuencia_g_2':'frecuencia_qq',
'ndeind_g_2':'ndeind_qq', 'heterocygoto':'2pq',
'frecuencia_g_3':'frecuencia_2pq',
'ndeind_g_3':'ndeind_2pq', 'alelo_1':'p',
'frecuencia_a_1':'frecuencia_p',
'ndeind_a_1':'ndeind_p', 'alelo_2':'q',
'frecuencia_a_2':'frecuencia_q', 'ndeind_a_2':'ndeind_q',
'descripcion':'descripcion'}

In [116]:
# Calculo de frecuencias esperadas
df_pop.rename(columns = hwcols, inplace= True )

In [117]:
df_pop

,snp,Population,pp,frecuencia_pp,ndeind_pp,qq,frecuencia_qq,ndeind_qq,2pq,frecuencia_2pq,ndeind_2pq,p,frecuencia_p,ndeind_p,q,frecuencia_q,ndeind_q,descripcion
1,rs17599586,AFR,C|C,0.781,516.0,C|T,0.204,135,T|T,0.015,10,C,0.883,1167.0,T,0.117,155,"HbF change, %"
1,rs2295644,AFR,A|A,0.411,272.0,A|T,0.469,310,T|T,0.120,79,A,0.646,854.0,T,0.354,468,"HbF change, %"
1,rs10483801,AFR,C|C,0.325,215.0,A|A,0.165,109,A|C,0.510,337,C,0.580,767.0,A,0.420,555,HbF and HbF response to hydroxyurea
1,rs2182008,AFR,A|A,0.024,16.0,A|G,0.234,155,G|G,0.741,490,A,0.141,187.0,G,0.859,1135,HbF and HbF response to hydroxyurea
1,rs9319428,AFR,G|G,0.496,328.0,A|A,0.116,77,A|G,0.387,256,G,0.690,912.0,A,0.310,410,HbF and HbF response to hydroxyurea
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,rs10184550,SAS,G|G,0.405,198.0,A|A,0.108,53,A|G,0.487,238,G,0.648,634.0,A,0.352,344,Basal Levels of HBF
26,rs10128556,SAS,C|C,0.552,270.0,C|T,0.376,184,T|T,0.072,35,C,0.740,724.0,T,0.260,254,Basal Levels of HBF
26,rs2310991,SAS,C|C,0.405,198.0,A|A,0.151,74,A|C,0.444,217,C,0.627,613.0,A,0.373,365,HBF levels in response to Hydroxyurea treatment
26,rs61743453,SAS,G|G,1.000,489.0,,0,0,0,0,0,G,1.000,978.0,,0,0,HBF levels in response to Hydroxyurea treatment
26,rs334,SAS,T|T,1.000,489.0,,0,0,0,0,0,T,1.000,978.0,,0,0,sickle cell anemia

In [118]:
df_pop.dtypes

snp                object
Population         object
pp                 object
frecuencia_pp      object
ndeind_pp         float64
qq                 object
frecuencia_qq      object
ndeind_qq          object
2pq                object
frecuencia_2pq     object
ndeind_2pq         object
p                  object
frecuencia_p       object
ndeind_p          float64
q                  object
frecuencia_q       object
ndeind_q           object
descripcion        object
dtype: object

In [119]:
df_pop["frecuencia_pp"] = df_pop["frecuencia_pp"].apply(float)
df_pop["frecuencia_qq"] = df_pop["frecuencia_qq"].apply(float)

df_pop["ndeind_qq"] = df_pop["ndeind_qq"].apply(float)
df_pop["frecuencia_2pq"] = df_pop["frecuencia_2pq"].apply(float)

df_pop["ndeind_2pq"] = df_pop["ndeind_2pq"].apply(float)
df_pop["ndeind_2pq"] = df_pop["ndeind_2pq"].apply(float)

df_pop["frecuencia_p"] = df_pop["frecuencia_p"].apply(float)
df_pop["frecuencia_q"] = df_pop["frecuencia_q"].apply(float)

df_pop["ndeind_q"] = df_pop["ndeind_q"].apply(float)

In [120]:
# In[143]:

df_pop["total_ind_ob"] = df_pop["ndeind_pp"] + df_pop["ndeind_qq"] + df_pop["ndeind_2pq"]


# In[144]:

df_pop["p_esperada"] = (2*df_pop["ndeind_pp"] + df_pop["ndeind_2pq"])/(2*df_pop["total_ind_ob"])

# In[145]:

df_pop["q_esperada"] = (2*df_pop["ndeind_qq"]+ df_pop["ndeind_2pq"])/(2*df_pop["total_ind_ob"])

# In[146]:

df_pop["pp_esperada"] = df_pop["p_esperada"]*df_pop["p_esperada"]*df_pop["total_ind_ob"]

# In[147]:

df_pop["pq_esperada"]= 2*df_pop["p_esperada"]*df_pop["q_esperada"]*df_pop["total_ind_ob"]

# In[148]:

df_pop["qq_esperada"]= df_pop["q_esperada"]*df_pop["q_esperada"]*df_pop["total_ind_ob"]

# In[149]:

df_pop["total_ind_esp"] = df_pop["pp_esperada"]+ df_pop["qq_esperada"] + df_pop["pq_esperada"]

In [121]:
df_pop["pp_esperada"] = df_pop["pp_esperada"].apply(int)
df_pop["pq_esperada"] = df_pop["pq_esperada"].apply(int)
df_pop["qq_esperada"] = df_pop["qq_esperada"].apply(int)
df_pop["total_ind_ob"] = df_pop["total_ind_ob"].apply(int)
df_pop["total_ind_esp"] = df_pop["total_ind_esp"].apply(int)
df_pop["ndeind_pp"] = df_pop["ndeind_pp"].apply(int)
df_pop["ndeind_qq"] = df_pop["ndeind_qq"].apply(int)
df_pop["ndeind_2pq"] = df_pop["ndeind_2pq"].apply(int)

In [122]:
df_pop["total_ind_ob"] == df_pop["total_ind_esp"]

1      True
1      True
1      True
1      True
1      True
      ...
26     True
26     True
26    False
26     True
26     True
Length: 185, dtype: bool

In [123]:
import pandas as pd
import numpy as np
import scipy.stats as ss
from numpy import random
from scipy.stats import chi2_contingency
from scipy.stats import chisquare

In [124]:
df_pop[["snp", "p"]].head(16)

          snp  p
1  rs17599586  C
1   rs2295644  A
1  rs10483801  C
1   rs2182008  A
1   rs9319428  G
1   rs3751395  C
1   rs2387634  T
1  rs10494225  C
1   rs7977109  G
1    rs816361  C
1   rs7309163  C
1   rs5006884  C
1   rs8002446  G
1    rs826729  G
1    rs765587  T
1   rs9693712  C

In [125]:
df_pop.dtypes

snp                object
Population         object
pp                 object
frecuencia_pp     float64
ndeind_pp           int64
qq                 object
frecuencia_qq     float64
ndeind_qq           int64
2pq                object
frecuencia_2pq    float64
ndeind_2pq          int64
p                  object
frecuencia_p      float64
ndeind_p          float64
q                  object
frecuencia_q      float64
ndeind_q          float64
descripcion        object
total_ind_ob        int64
p_esperada        float64
q_esperada        float64
pp_esperada         int64
pq_esperada         int64
qq_esperada         int64
total_ind_esp       int64
dtype: object

In [126]:
df_pop[["ndeind_pp", "ndeind_2pq", "ndeind_qq","pp_esperada",
"pq_esperada", "qq_esperada", "total_ind_esp", "total_ind_ob"]]

,ndeind_pp,ndeind_2pq,ndeind_qq,pp_esperada,pq_esperada,qq_esperada,total_ind_esp,total_ind_ob
1,516,10,135,410,220,29,661,661
1,272,79,310,146,329,184,661,661
1,215,337,109,222,322,116,661,661
1,16,490,155,103,315,242,661,661
1,328,256,77,314,282,63,661,661
...,...,...,...,...,...,...,...,...
26,198,238,53,205,223,60,489,489
26,270,35,184,169,236,83,489,489
26,198,217,74,192,228,68,488,489
26,489,0,0,489,0,0,489,489
26,489,0,0,489,0,0,489,489

In [127]:
chisquare(df_pop[["ndeind_pp", "ndeind_2pq", "ndeind_qq"]][0:1],
f_exp = df_pop[["pp_esperada", "pq_esperada", "qq_esperada"]]
[0:1], axis = 1)

Power_divergenceResult(statistic=array([615.30769937]), pvalue=array([2.44135394e-134]))

In [128]:
df_pop[["ndeind_pp", "ndeind_2pq", "ndeind_qq"]][0:1]

   ndeind_pp  ndeind_2pq  ndeind_qq
1        516          10        135

In [129]:
rango = range(0,185)

print(rango)

range(0, 185)

In [130]:
#Calculo de HWE
for n in rango:
    chi_v = print(chisquare(df_pop[["ndeind_pp", "ndeind_2pq", "ndeind_qq"]][n:(n+1)],
                            f_exp = df_pop[["pp_esperada", "pq_esperada", "qq_esperada"]][n:(n+1)], ddof = 0, axis = 1)[1])

[2.44135394e-134]
[2.51224812e-84]
[0.51122466]
[1.37917402e-44]
[0.04659607]
[0.34405465]
[0.62214787]
[4.63653525e-98]
[0.95028057]
[3.52217925e-111]
[2.41044581e-10]
[3.08319006e-89]
[0.20461197]
[0.91091281]
[0.99824099]
[5.78396621e-103]
[1.74647856e-11]
[1.10446192e-54]
[4.92576266e-12]
[0.69031653]
[0.99747793]
[0.99156123]
[0.9904307]
[1.77745675e-144]
[0.6900812]
[8.08897521e-98]
[0.89443447]
[8.82967627e-99]
[0.68028209]
[6.53080085e-07]
[4.0409238e-06]
[0.60065345]
[0.55665014]
[1.20022609e-123]
[0.24502372]
[6.46798495e-159]
[3.7403404e-146]
[3.43893496e-78]
[2.07955852e-44]
[0.29730349]
[2.19397278e-62]
[0.57703827]
[0.50018187]
[0.47353504]
[8.86303543e-72]
[0.64909598]
[2.40828392e-55]
[1.37876834e-49]
[5.01823743e-59]
[0.63843808]
[0.11131472]
[0.92920992]
[1.84403242e-23]
[6.98346309e-38]
[9.43854261e-24]
[3.14083095e-50]
[0.94052604]
[0.7654767]
[0.91236229]
[0.6061796]
[4.50889452e-67]
[0.40342012]
[9.6637882e-21]
[0.96867393]
[1.21884125e-19]
[0.36208309]
[3.57601725e-18]
[1.00631426e-07]
[0.000621]
[0.83170511]
[2.62788784e-54]
[0.24585551]
[0.]
[0.]
[0.]
[1.32820773e-55]

/Users/berni/opt/anaconda3/lib/python3.8/site-packages/scipy/stats/stats.py:5982: RuntimeWarning: divide by zero encountered in true_divide
  terms = (f_obs.astype(np.float64) - f_exp)**2 / f_exp
/Users/berni/opt/anaconda3/lib/python3.8/site-packages/scipy/stats/stats.py:5982: RuntimeWarning: invalid value encountered in true_divide
  terms = (f_obs.astype(np.float64) - f_exp)**2 / f_exp

[0.74459163]
[nan]
[0.99195659]
[0.9724548]
[0.]
[1.96814876e-115]
[0.6711213]
[1.90078807e-69]
[6.01495532e-60]
[7.66136229e-101]
[0.83520227]
[0.37019543]
[0.72170863]
[6.79002658e-71]
[0.]
[0.95329961]
[7.48670319e-52]
[0.8024366]
[0.95817284]
[0.54349684]
[0.50712976]
[4.8605753e-77]
[0.92473974]
[4.39874025e-05]
[0.99738562]
[0.00010784]
[0.997426]
[1.07127098e-111]
[1.10403836e-06]
[1.07127098e-111]
[0.87812514]
[4.34133554e-101]
[0.00771602]
[nan]
[nan]
[2.20647887e-105]
[1.62155629e-49]
[0.90677482]
[0.]
[0.79693195]
[0.84112828]
[0.29348843]
[4.27078756e-113]
[0.72084266]
[2.14456301e-74]
[3.94623924e-59]
[1.27608502e-81]
[0.84094295]
[0.988889]
[0.99662732]
[0.00095874]
[1.04911164e-45]
[2.35173988e-12]
[6.89385605e-81]
[0.98359861]
[0.79279261]
[0.99000008]
[0.94386277]
[1.5926144e-80]
[0.14525086]
[1.02037008e-39]
[0.80073377]
[9.01744455e-41]
[0.61711837]
[0.24745601]
[2.27440782e-30]
[0.60225339]
[0.49909252]
[1.94804237e-69]
[0.33290599]
[nan]
[nan]
[1.88888824e-104]
[1.96027922e-45]
[0.48133654]
[0.]
[0.40333701]
[0.45988215]
[0.48173509]
[1.35738027e-94]
[0.9341697]
[5.94969853e-83]
[1.12940258e-51]
[9.86684895e-78]
[0.30508056]
[0.86401014]
[0.99702823]
[2.63568791e-11]
[1.40109696e-68]
[3.0675238e-07]
[1.4138418e-41]
[0.09726513]
[0.96315607]
[0.99452056]
[0.99457996]
[2.13332873e-101]
[0.82911474]
[0.02988125]
[0.85016402]
[0.07804996]
[0.8634263]
[1.90626829e-46]
[1.19317146e-39]
[0.99789252]
[0.35617616]
[1.07404573e-77]
[0.53590051]
[nan]
[nan]

In [131]:
chi2_value = [615.30769937,
384.99193959,
1.34189228,
201.98451862,
6.13247805,
2.13390955,
0.94915496,
448.23874348,
0.10199601,
508.65573084,
44.29207843,
407.60821696,
3.17327988,
0.18661618,
0.00352113,
470.82234987,
49.54166902,
248.4804735,
52.073084,
0.7412101,
0.00505051,
0.01694915,
0.01923077,
661.99413968,
0.74189202,
447.12567413,
0.22312729,
451.55561171,
0.77049546,
28.48313215,
24.83807446,
1.01947427,
1.17163671,
566.07091299,
2.8128005,
728.48833034,
669.71649391,
356.73295087,
201.16317694,
2.42600365,
283.94912362,
1.09969337,
1.38556703,
1.49505871,
327.20847478,
0.86434938,
251.52653137,
225.01095793,
268.47888345,
0.89746117,
4.39078747,
0.14684121,
104.69500487,
171.10937719,
106.0344813,
227.96953451,
0.12263188,
0.53451299,
0.18343623,
1.00115793,
305.53429845,
1.81555354,
92.17180246,
0.06365445,
87.10243231,
2.03176311,
80.34456398,
32.22360248,
14.76836998,
0.36855467,
246.7468292,
2.80602256,
"inf",
"inf",
"inf",
252.7166993,
0.58983871,
"nan",
0.01615187,
0.05586336,
"inf",
528.24038462,
0.79761078,
316.47220569,
272.72171332,
461.04980916,
0.36016268,
1.98744845,
0.65226757,
323.13617349,
"inf",
0.09565208,
235.44259259,
0.44020487,
0.0854542,
1.21946279,
1.35797673,
351.43579071,
0.15648589,
20.06321454,
0.0052356,
18.26966164,
0.00515464,
511.0361991,
27.43307173,
511.0361991,
0.25993235,
462.18582473,
9.72891392,
"nan",
"nan",
481.96007358,
224.68656639,
0.19572225,
"inf",
0.45397196,
0.3460222,
2.4518341,
517.48063452,
0.65466879,
339.25672215,
268.9595149,
372.53119143,
0.34646291,
0.02234637,
0.00675676,
13.89978289,
207.13677087,
53.55173137,
369.15752389,
0.03307477,
0.46438724,
0.0201005,
0.115549,
367.482861,
3.85858599,
179.56130648,
0.44445353,
184.41365566,
0.96538886,
2.79304486,
136.51166614,
1.01415401,
1.38992758,
316.42309292,
2.1997903,
"nan",
"nan",
477.6657225,
205.88648452,
1.46237717,
"inf",
1.81596561,
1.55357005,
1.46072185,
432.27488434,
0.13619433,
378.66244433,
234.62030188,
354.62491341,
2.37435883,
0.29234155,
0.00595238,
48.71858362,
312.4770617,
29.99444999,
188.11935627,
4.66062938,
0.07507963,
0.01098901,
0.01086957,
463.60682169,
0.37479345,
7.02104808,
0.32465198,
5.10081219,
0.29369346,
210.54753344,
179.24840754,
0.00421941,
2.06465967,
354.45523917,
1.24761352,
"nan",
"nan"]

In [132]:
p_value = [2.44135394e-134,
2.51224812e-84,
0.51122466,
1.37917402e-44,
0.04659607,
0.34405465,
0.62214787,
4.63653525e-98,
0.95028057,
3.52217925e-111,
2.41044581e-10,
3.08319006e-89,
0.20461197,
0.91091281,
0.99824099,
5.78396621e-103,
1.74647856e-11,
1.10446192e-54,
4.92576266e-12,
0.69031653,
0.99747793,
0.99156123,
0.9904307,
1.77745675e-144,
0.6900812,
8.08897521e-98,
0.89443447,
8.82967627e-99,
0.68028209,
6.53080085e-07,
4.0409238e-06,
0.60065345,
0.55665014,
1.20022609e-123,
0.24502372,
6.46798495e-159,
3.7403404e-146,
3.43893496e-78,
2.07955852e-44,
0.29730349,
2.19397278e-62,
0.57703827,
0.50018187,
0.47353504,
8.86303543e-72,
0.64909598,
2.40828392e-55,
1.37876834e-49,
5.01823743e-59,
0.63843808,
0.11131472,
0.92920992,
1.84403242e-23,
6.98346309e-38,
9.43854261e-24,
3.14083095e-50,
0.94052604,
0.7654767,
0.91236229,
0.6061796,
4.50889452e-67,
0.40342012,
9.6637882e-21,
0.96867393,
1.21884125e-19,
0.36208309,
3.57601725e-18,
1.00631426e-07,
0.000621,
0.83170511,
2.62788784e-54,
0.24585551,
0.,
0.,
0.,
1.32820773e-55,
0.74459163,
"nan",
0.99195659,
0.9724548,
0.,
1.96814876e-115,
0.6711213,
1.90078807e-69,
6.01495532e-60,
7.66136229e-101,
0.83520227,
0.37019543,
0.72170863,
6.79002658e-71,
0.,
0.95329961,
7.48670319e-52,
0.8024366,
0.95817284,
0.54349684,
0.50712976,
4.8605753e-77,
0.92473974,
4.39874025e-05,
0.99738562,
0.00010784,
0.997426,
1.07127098e-111,
1.10403836e-06,
1.07127098e-111,
0.87812514,
4.34133554e-101,
0.00771602,
"nan",
"nan",
2.20647887e-105,
1.62155629e-49,
0.90677482,
0.,
0.79693195,
0.84112828,
0.29348843,
4.27078756e-113,
0.72084266,
2.14456301e-74,
3.94623924e-59,
1.27608502e-81,
0.84094295,
0.988889,
0.99662732,
0.00095874,
1.04911164e-45,
2.35173988e-12,
6.89385605e-81,
0.98359861,
0.79279261,
0.99000008,
0.94386277,
1.5926144e-80,
0.14525086,
1.02037008e-39,
0.80073377,
9.01744455e-41,
0.61711837,
0.24745601,
2.27440782e-30,
0.60225339,
0.49909252,
1.94804237e-69,
0.33290599,
"nan",
"nan",
1.88888824e-104,
1.96027922e-45,
0.48133654,
0.,
0.40333701,
0.45988215,
0.48173509,
1.35738027e-94,
0.9341697,
5.94969853e-83,
1.12940258e-51,
9.86684895e-78,
0.30508056,
0.86401014,
0.99702823,
2.63568791e-11,
1.40109696e-68,
3.0675238e-07,
1.4138418e-41,
0.09726513,
0.96315607,
0.99452056,
0.99457996,
2.13332873e-101,
0.82911474,
0.02988125,
0.85016402,
0.07804996,
0.8634263,
1.90626829e-46,
1.19317146e-39,
0.99789252,
0.35617616,
1.07404573e-77,
0.53590051,
"nan",
"nan"]

In [133]:
df_pop["chi_value"] = chi2_value
df_pop["p_value"] = p_value

In [134]:
df_pop["chi_value"] = df_pop["chi_value"].apply(float)


df_pop["p_value"] = df_pop["p_value"].apply(float)

In [135]:
significativo = []
for i in df_pop.p_value:
    if i < 0.05:
        significativo.append("si")
    elif i > 0.05:
        significativo.append("no")
    else:
        significativo.append("nan")

# In[116]:

df_pop["significativo"] = significativo

In [136]:
df_pop

,snp,Population,pp,frecuencia_pp,ndeind_pp,qq,frecuencia_qq,ndeind_qq,2pq,frecuencia_2pq,...,total_ind_ob,p_esperada,q_esperada,pp_esperada,pq_esperada,qq_esperada,total_ind_esp,chi_value,p_value,significativo
1,rs17599586,AFR,C|C,0.781,516,C|T,0.204,135,T|T,0.015,...,661,0.788200,0.211800,410,220,29,661,615.307699,2.441354e-134,si
1,rs2295644,AFR,A|A,0.411,272,A|T,0.469,310,T|T,0.120,...,661,0.471256,0.528744,146,329,184,661,384.991940,2.512248e-84,si
1,rs10483801,AFR,C|C,0.325,215,A|A,0.165,109,A|C,0.510,...,661,0.580182,0.419818,222,322,116,661,1.341892,5.112247e-01,no
1,rs2182008,AFR,A|A,0.024,16,A|G,0.234,155,G|G,0.741,...,661,0.394856,0.605144,103,315,242,661,201.984519,1.379174e-44,si
1,rs9319428,AFR,G|G,0.496,328,A|A,0.116,77,A|G,0.387,...,661,0.689864,0.310136,314,282,63,661,6.132478,4.659607e-02,si
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,rs10184550,SAS,G|G,0.405,198,A|A,0.108,53,A|G,0.487,...,489,0.648262,0.351738,205,223,60,489,2.064660,3.561762e-01,no
26,rs10128556,SAS,C|C,0.552,270,C|T,0.376,184,T|T,0.072,...,489,0.587935,0.412065,169,236,83,489,354.455239,1.074046e-77,si
26,rs2310991,SAS,C|C,0.405,198,A|A,0.151,74,A|C,0.444,...,489,0.626789,0.373211,192,228,68,488,1.247614,5.359005e-01,no
26,rs61743453,SAS,G|G,1.000,489,,0.000,0,0,0.000,...,489,1.000000,0.000000,489,0,0,489,NaN,NaN,nan
26,rs334,SAS,T|T,1.000,489,,0.000,0,0,0.000,...,489,1.000000,0.000000,489,0,0,489,NaN,NaN,nan

In [137]:
df_yes = df_pop[df_pop['significativo'] == "si"]

In [166]:
df_yes[["snp", "Population", "descripcion", "chi_value", "p_value"]].sort_values("snp").to_excel("df_yes_hwe.xlsx")

In [138]:
len(df_yes["snp"].unique())

23

In [145]:
df_yes_AFR  = df_yes[df_yes['Population'] == "AFR"]
df_yes_AMR  = df_yes[df_yes['Population'] == "AMR"]
df_yes_EAS  = df_yes[df_yes['Population'] == "EAS"]
df_yes_EUR  = df_yes[df_yes['Population'] == "EUR"]
df_yes_SAS  = df_yes[df_yes['Population'] == "SAS"]

In [154]:
df_yes_AFR[["snp", "descripcion", "chi_value", "p_value"]]

,snp,descripcion,chi_value,p_value
1,rs17599586,"HbF change, %",615.307699,2.441354e-134
1,rs2295644,"HbF change, %",384.991940,2.512248e-84
1,rs2182008,HbF and HbF response to hydroxyurea,201.984519,1.379174e-44
1,rs9319428,HbF and HbF response to hydroxyurea,6.132478,4.659607e-02
1,rs10494225,HbF and HbF response to hydroxyurea,448.238743,4.636535e-98
1,rs816361,HbF and HbF response to hydroxyurea,508.655731,3.522179e-111
1,rs7309163,HbF and HbF response to hydroxyurea,44.292078,2.410446e-10
1,rs5006884,Regulation of HbA2 level,407.608217,3.083190e-89
1,rs9693712,HbF and HbF response to hydroxyurea,470.822350,5.783966e-103
1,rs172652,HbF and HbF response to hydroxyurea,49.541669,1.746479e-11
1,rs380620,HbF and HbF response to hydroxyurea,248.480473,1.104462e-54
1,rs2693430,HbF and HbF response to hydroxyurea,52.073084,4.925763e-12
1,rs4895441,Basal Levels of HBF,661.994140,1.777457e-144
1,rs10189857,Basal Levels of HBF,447.125674,8.088975e-98
1,rs7599488,Basal Levels of HBF,451.555612,8.829676e-99
1,rs11886868,Basal Levels of HBF,28.483132,6.530801e-07
1,rs4671393,Basal Levels of HBF,24.838074,4.040924e-06
1,rs10128556,Basal Levels of HBF,566.070913,1.200226e-123
1,rs61743453,HBF levels in response to Hydroxyurea treatment,728.488330,6.467985e-159
1,rs334,sickle cell anemia,669.716494,3.740340e-146

In [156]:
df_yes_AMR[["snp", "descripcion", "chi_value", "p_value"]]

,snp,descripcion,chi_value,p_value
9,rs17599586,"HbF change, %",356.732951,3.438935e-78
9,rs2295644,"HbF change, %",201.163177,2.079559e-44
9,rs2182008,HbF and HbF response to hydroxyurea,283.949124,2.193973e-62
9,rs10494225,HbF and HbF response to hydroxyurea,327.208475,8.863035e-72
9,rs816361,HbF and HbF response to hydroxyurea,251.526531,2.408284e-55
9,rs7309163,HbF and HbF response to hydroxyurea,225.010958,1.378768e-49
9,rs5006884,Regulation of HbA2 level,268.478883,5.018237e-59
9,rs9693712,HbF and HbF response to hydroxyurea,104.695005,1.844032e-23
9,rs172652,HbF and HbF response to hydroxyurea,171.109377,6.983463e-38
9,rs380620,HbF and HbF response to hydroxyurea,106.034481,9.438543e-24
9,rs2693430,HbF and HbF response to hydroxyurea,227.969535,3.140831e-50
9,rs4895441,Basal Levels of HBF,305.534298,4.508895e-67
9,rs10189857,Basal Levels of HBF,92.171802,9.663788e-21
9,rs7599488,Basal Levels of HBF,87.102432,1.218841e-19
9,rs11886868,Basal Levels of HBF,80.344564,3.576017e-18
9,rs4671393,Basal Levels of HBF,32.223602,1.006314e-07
9,rs7557939,Basal Levels of HBF,14.768370,6.210000e-04
9,rs10128556,Basal Levels of HBF,246.746829,2.627888e-54
9,rs61743453,HBF levels in response to Hydroxyurea treatment,inf,0.000000e+00
9,rs334,sickle cell anemia,inf,0.000000e+00

In [158]:
df_yes_EAS[["snp", "descripcion", "chi_value", "p_value"]]

,snp,descripcion,chi_value,p_value
14,rs17599586,"HbF change, %",inf,0.000000e+00
14,rs2295644,"HbF change, %",252.716699,1.328208e-55
14,rs2387634,HbF and HbF response to hydroxyurea,inf,0.000000e+00
14,rs10494225,HbF and HbF response to hydroxyurea,528.240385,1.968149e-115
14,rs816361,HbF and HbF response to hydroxyurea,316.472206,1.900788e-69
14,rs7309163,HbF and HbF response to hydroxyurea,272.721713,6.014955e-60
14,rs5006884,Regulation of HbA2 level,461.049809,7.661362e-101
14,rs9693712,HbF and HbF response to hydroxyurea,323.136173,6.790027e-71
14,rs172652,HbF and HbF response to hydroxyurea,inf,0.000000e+00
14,rs2693430,HbF and HbF response to hydroxyurea,235.442593,7.486703e-52
14,rs4895441,Basal Levels of HBF,351.435791,4.860575e-77
14,rs10189857,Basal Levels of HBF,20.063215,4.398740e-05
14,rs7599488,Basal Levels of HBF,18.269662,1.078400e-04
14,rs11886868,Basal Levels of HBF,511.036199,1.071271e-111
14,rs4671393,Basal Levels of HBF,27.433072,1.104038e-06
14,rs7557939,Basal Levels of HBF,511.036199,1.071271e-111
14,rs10128556,Basal Levels of HBF,462.185825,4.341336e-101
14,rs2310991,HBF levels in response to Hydroxyurea treatment,9.728914,7.716020e-03

In [159]:
df_yes_EUR[["snp", "descripcion", "chi_value", "p_value"]]

           snp                          descripcion   chi_value        p_value
20  rs17599586                        HbF change, %  481.960074  2.206479e-105
20   rs2295644                        HbF change, %  224.686566   1.621556e-49
20   rs2182008  HbF and HbF response to hydroxyurea         inf   0.000000e+00
20  rs10494225  HbF and HbF response to hydroxyurea  517.480635  4.270788e-113
20    rs816361  HbF and HbF response to hydroxyurea  339.256722   2.144563e-74
20   rs7309163  HbF and HbF response to hydroxyurea  268.959515   3.946239e-59
20   rs5006884             Regulation of HbA2 level  372.531191   1.276085e-81
20   rs9693712  HbF and HbF response to hydroxyurea   13.899783   9.587400e-04
20    rs172652  HbF and HbF response to hydroxyurea  207.136771   1.049112e-45
20    rs380620  HbF and HbF response to hydroxyurea   53.551731   2.351740e-12
20   rs2693430  HbF and HbF response to hydroxyurea  369.157524   6.893856e-81
20   rs4895441                  Basal Levels of HBF  367.482861   1.592614e-80
20  rs10189857                  Basal Levels of HBF  179.561306   1.020370e-39
20   rs7599488                  Basal Levels of HBF  184.413656   9.017445e-41
20   rs4671393                  Basal Levels of HBF  136.511666   2.274408e-30
20  rs10128556                  Basal Levels of HBF  316.423093   1.948042e-69

In [160]:
df_yes_SAS[["snp", "descripcion", "chi_value", "p_value"]]

           snp                          descripcion   chi_value        p_value
26  rs17599586                        HbF change, %  477.665723  1.888888e-104
26   rs2295644                        HbF change, %  205.886485   1.960279e-45
26   rs2182008  HbF and HbF response to hydroxyurea         inf   0.000000e+00
26  rs10494225  HbF and HbF response to hydroxyurea  432.274884   1.357380e-94
26    rs816361  HbF and HbF response to hydroxyurea  378.662444   5.949699e-83
26   rs7309163  HbF and HbF response to hydroxyurea  234.620302   1.129403e-51
26   rs5006884             Regulation of HbA2 level  354.624913   9.866849e-78
26   rs9693712  HbF and HbF response to hydroxyurea   48.718584   2.635688e-11
26    rs172652  HbF and HbF response to hydroxyurea  312.477062   1.401097e-68
26    rs380620  HbF and HbF response to hydroxyurea   29.994450   3.067524e-07
26   rs2693430  HbF and HbF response to hydroxyurea  188.119356   1.413842e-41
26   rs4895441                  Basal Levels of HBF  463.606822  2.133329e-101
26  rs10189857                  Basal Levels of HBF    7.021048   2.988125e-02
26  rs11886868                  Basal Levels of HBF  210.547533   1.906268e-46
26   rs4671393                  Basal Levels of HBF  179.248408   1.193171e-39
26  rs10128556                  Basal Levels of HBF  354.455239   1.074046e-77